# Credit Risk Resampling Techniques

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

# Read the CSV and Perform Basic Data Cleaning

In [3]:
file_path = Path('./Data/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000.0,20000.0,20000.0,60 months,17.19%,499.10,C,C5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,21225.0,21225.0,21225.0,60 months,14.74%,502.05,C,C2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000.0,5000.0,5000.0,36 months,17.97%,180.69,D,D1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,20000.0,20000.0,20000.0,36 months,8.19%,628.49,A,A4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,12000.0,12000.0,12000.0,60 months,15.57%,289.09,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
# file_path = Path('LoanStats_2019Q1.csv')
# df = pd.read_csv(file_path, skiprows=1)[:-2]
loans_df = df.loc[:, columns].copy()
loans_df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,20000.0,17.19%,499.10,RENT,47000.0,Source Verified,Mar-2019,Issued,n,14.02,...,98.0,12.5,0.0,0.0,75824.0,31546.0,33800.0,21524.0,N,N
1,21225.0,14.74%,502.05,MORTGAGE,225000.0,Not Verified,Mar-2019,Issued,n,16.80,...,100.0,50.0,1.0,0.0,747075.0,209426.0,53500.0,128175.0,N,N
2,5000.0,17.97%,180.69,MORTGAGE,62000.0,Not Verified,Mar-2019,Issued,n,19.82,...,66.7,50.0,0.0,0.0,255738.0,31615.0,9400.0,39938.0,N,N
3,20000.0,8.19%,628.49,MORTGAGE,200000.0,Not Verified,Mar-2019,Issued,n,22.66,...,95.7,22.2,0.0,0.0,448069.0,84744.0,49400.0,105180.0,N,N
4,12000.0,15.57%,289.09,MORTGAGE,49000.0,Source Verified,Mar-2019,Issued,n,13.47,...,86.1,14.3,0.0,0.0,189260.0,106025.0,24400.0,68860.0,N,N

In [6]:
# Drop the null columns where all values are null
loans_df = loans_df.dropna(axis='columns', how='all')
loans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115675 entries, 0 to 115674
Data columns (total 86 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   loan_amnt                   115675 non-null  float64
 1   int_rate                    115675 non-null  object
 2   installment                 115675 non-null  float64
 3   home_ownership              115675 non-null  object
 4   annual_inc                  115675 non-null  float64
 5   verification_status         115675 non-null  object
 6   issue_d                     115675 non-null  object
 7   loan_status                 115675 non-null  object
 8   pymnt_plan                  115675 non-null  object
 9   dti                         115418 non-null  float64
 10  delinq_2yrs                 115675 non-null  float64
 11  inq_last_6mths              115675 non-null  float64
 12  open_acc                    115675 non-null  float64
 13  pub_rec                     115675 non-null  float64
 14  revol_bal                   115675 non-null  float64
 15  total_acc                   115675 non-null  float64
 16  initial_list_status         115675 non-null  object
 17  out_prncp                   115675 non-null  float64
 18  out_prncp_inv               115675 non-null  float64
 19  total_pymnt                 115675 non-null  float64
 20  total_pymnt_inv             115675 non-null  float64
 21  total_rec_prncp             115675 non-null  float64
 22  total_rec_int               115675 non-null  float64
 23  total_rec_late_fee          115675 non-null  float64
 24  recoveries                  115675 non-null  float64
 25  collection_recovery_fee     115675 non-null  float64
 26  last_pymnt_amnt             115675 non-null  float64
 27  next_pymnt_d                113477 non-null  object
 28  collections_12_mths_ex_med  115675 non-null  float64
 29  policy_code                 115675 non-null  float64
 30  application_type            115675 non-null  object
 31  acc_now_delinq              115675 non-null  float64
 32  tot_coll_amt                115675 non-null  float64
 33  tot_cur_bal                 115675 non-null  float64
 34  open_acc_6m                 115675 non-null  float64
 35  open_act_il                 115675 non-null  float64
 36  open_il_12m                 115675 non-null  float64
 37  open_il_24m                 115675 non-null  float64
 38  mths_since_rcnt_il          112158 non-null  float64
 39  total_bal_il                115675 non-null  float64
 40  il_util                     98356 non-null   float64
 41  open_rv_12m                 115675 non-null  float64
 42  open_rv_24m                 115675 non-null  float64
 43  max_bal_bc                  115675 non-null  float64
 44  all_util                    115651 non-null  float64
 45  total_rev_hi_lim            115675 non-null  float64
 46  inq_fi                      115675 non-null  float64
 47  total_cu_tl                 115675 non-null  float64
 48  inq_last_12m                115675 non-null  float64
 49  acc_open_past_24mths        115675 non-null  float64
 50  avg_cur_bal                 115668 non-null  float64
 51  bc_open_to_buy              114352 non-null  float64
 52  bc_util                     114297 non-null  float64
 53  chargeoff_within_12_mths    115675 non-null  float64
 54  delinq_amnt                 115675 non-null  float64
 55  mo_sin_old_il_acct          112158 non-null  float64
 56  mo_sin_old_rev_tl_op        115675 non-null  float64
 57  mo_sin_rcnt_rev_tl_op       115675 non-null  float64
 58  mo_sin_rcnt_tl              115675 non-null  float64
 59  mort_acc                    115675 non-null  float64
 60  mths_since_recent_bc        114417 non-null  float64
 61  mths_since_recent_inq       101318 non-null  float64
 62  num_accts_ever_120_pd       115675 non-null  float64
 63  num_actv_bc_tl              115675 non-null  float64
 64  num_actv_rev_tl             115675 non-null  float64
 65  num_bc_sats                 115675 non-null  float64
 66  num_bc_tl                   115675 non-null  float64
 67  num_il_tl                   115675 non-null  float64
 68  num_op_rev_tl               115675 non-null  float64
 69  num_rev_accts               115675 non-null  float64
 70  num_rev_tl_bal_gt_0         115675 non-null  float64
 71  num_sats                    115675 non-null  float64
 72  num_tl_120dpd_2m            112529 non-null  float64
 73  num_tl_30dpd                115675 non-null  float64
 74  num_tl_90g_dpd_24m          115675 non-null  float64
 75  num_tl_op_past_12m          115675 non-null  float64
 76  pct_tl_nvr_dlq              115675 non-null  float64
 77  percent_bc_gt_75            114346 non-null  float64
 78  pub_rec_bankruptcies        115675 non-null  float64
 79  tax_liens                   115675 non-null  float64
 80  tot_hi_cred_lim             115675 non-null  float64
 81  total_bal_ex_mort           115675 non-null  float64
 82  total_bc_limit              115675 non-null  float64
 83  total_il_high_credit_limit  115675 non-null  float64
 84  hardship_flag               115675 non-null  object
 85  debt_settlement_flag        115675 non-null  object
dtypes: float64(75), object(11)
memory usage: 75.9+ MB

In [7]:
# Drop the null rows
loans_df = loans_df.dropna()
loans_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82537 entries, 0 to 115673
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   82537 non-null  float64
 1   int_rate                    82537 non-null  object
 2   installment                 82537 non-null  float64
 3   home_ownership              82537 non-null  object
 4   annual_inc                  82537 non-null  float64
 5   verification_status         82537 non-null  object
 6   issue_d                     82537 non-null  object
 7   loan_status                 82537 non-null  object
 8   pymnt_plan                  82537 non-null  object
 9   dti                         82537 non-null  float64
 10  delinq_2yrs                 82537 non-null  float64
 11  inq_last_6mths              82537 non-null  float64
 12  open_acc                    82537 non-null  float64
 13  pub_rec                     82537 non-null  float64
 14  revol_bal                   82537 non-null  float64
 15  total_acc                   82537 non-null  float64
 16  initial_list_status         82537 non-null  object
 17  out_prncp                   82537 non-null  float64
 18  out_prncp_inv               82537 non-null  float64
 19  total_pymnt                 82537 non-null  float64
 20  total_pymnt_inv             82537 non-null  float64
 21  total_rec_prncp             82537 non-null  float64
 22  total_rec_int               82537 non-null  float64
 23  total_rec_late_fee          82537 non-null  float64
 24  recoveries                  82537 non-null  float64
 25  collection_recovery_fee     82537 non-null  float64
 26  last_pymnt_amnt             82537 non-null  float64
 27  next_pymnt_d                82537 non-null  object
 28  collections_12_mths_ex_med  82537 non-null  float64
 29  policy_code                 82537 non-null  float64
 30  application_type            82537 non-null  object
 31  acc_now_delinq              82537 non-null  float64
 32  tot_coll_amt                82537 non-null  float64
 33  tot_cur_bal                 82537 non-null  float64
 34  open_acc_6m                 82537 non-null  float64
 35  open_act_il                 82537 non-null  float64
 36  open_il_12m                 82537 non-null  float64
 37  open_il_24m                 82537 non-null  float64
 38  mths_since_rcnt_il          82537 non-null  float64
 39  total_bal_il                82537 non-null  float64
 40  il_util                     82537 non-null  float64
 41  open_rv_12m                 82537 non-null  float64
 42  open_rv_24m                 82537 non-null  float64
 43  max_bal_bc                  82537 non-null  float64
 44  all_util                    82537 non-null  float64
 45  total_rev_hi_lim            82537 non-null  float64
 46  inq_fi                      82537 non-null  float64
 47  total_cu_tl                 82537 non-null  float64
 48  inq_last_12m                82537 non-null  float64
 49  acc_open_past_24mths        82537 non-null  float64
 50  avg_cur_bal                 82537 non-null  float64
 51  bc_open_to_buy              82537 non-null  float64
 52  bc_util                     82537 non-null  float64
 53  chargeoff_within_12_mths    82537 non-null  float64
 54  delinq_amnt                 82537 non-null  float64
 55  mo_sin_old_il_acct          82537 non-null  float64
 56  mo_sin_old_rev_tl_op        82537 non-null  float64
 57  mo_sin_rcnt_rev_tl_op       82537 non-null  float64
 58  mo_sin_rcnt_tl              82537 non-null  float64
 59  mort_acc                    82537 non-null  float64
 60  mths_since_recent_bc        82537 non-null  float64
 61  mths_since_recent_inq       82537 non-null  float64
 62  num_accts_ever_120_pd       82537 non-null  float64
 63  num_actv_bc_tl              82537 non-null  float64
 64  num_actv_rev_tl             82537 non-null  float64
 65  num_bc_sats                 82537 non-null  float64
 66  num_bc_tl                   82537 non-null  float64
 67  num_il_tl                   82537 non-null  float64
 68  num_op_rev_tl               82537 non-null  float64
 69  num_rev_accts               82537 non-null  float64
 70  num_rev_tl_bal_gt_0         82537 non-null  float64
 71  num_sats                    82537 non-null  float64
 72  num_tl_120dpd_2m            82537 non-null  float64
 73  num_tl_30dpd                82537 non-null  float64
 74  num_tl_90g_dpd_24m          82537 non-null  float64
 75  num_tl_op_past_12m          82537 non-null  float64
 76  pct_tl_nvr_dlq              82537 non-null  float64
 77  percent_bc_gt_75            82537 non-null  float64
 78  pub_rec_bankruptcies        82537 non-null  float64
 79  tax_liens                   82537 non-null  float64
 80  tot_hi_cred_lim             82537 non-null  float64
 81  total_bal_ex_mort           82537 non-null  float64
 82  total_bc_limit              82537 non-null  float64
 83  total_il_high_credit_limit  82537 non-null  float64
 84  hardship_flag               82537 non-null  object
 85  debt_settlement_flag        82537 non-null  object
dtypes: float64(75), object(11)
memory usage: 54.8+ MB

In [8]:
# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
loans_df = loans_df.loc[issued_mask]
loans_df['loan_status'].value_counts()

Current               68470
In Grace Period         171
Late (16-30 days)        89
Late (31-120 days)       87
Name: loan_status, dtype: int64

In [9]:
# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
loans_df = loans_df.replace(x)
loans_df['loan_status'].value_counts()

low_risk              68470
In Grace Period         171
Late (16-30 days)        89
Late (31-120 days)       87
Name: loan_status, dtype: int64

In [10]:
x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
loans_df = loans_df.replace(x)
loans_df['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [11]:
# convert interest rate to numerical
loans_df['int_rate'] = loans_df['int_rate'].str.replace('%', '')
loans_df['int_rate'] = loans_df['int_rate'].astype('float') / 100
loans_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68817 entries, 93 to 115673
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   68817 non-null  float64
 1   int_rate                    68817 non-null  float64
 2   installment                 68817 non-null  float64
 3   home_ownership              68817 non-null  object
 4   annual_inc                  68817 non-null  float64
 5   verification_status         68817 non-null  object
 6   issue_d                     68817 non-null  object
 7   loan_status                 68817 non-null  object
 8   pymnt_plan                  68817 non-null  object
 9   dti                         68817 non-null  float64
 10  delinq_2yrs                 68817 non-null  float64
 11  inq_last_6mths              68817 non-null  float64
 12  open_acc                    68817 non-null  float64
 13  pub_rec                     68817 non-null  float64
 14  revol_bal                   68817 non-null  float64
 15  total_acc                   68817 non-null  float64
 16  initial_list_status         68817 non-null  object
 17  out_prncp                   68817 non-null  float64
 18  out_prncp_inv               68817 non-null  float64
 19  total_pymnt                 68817 non-null  float64
 20  total_pymnt_inv             68817 non-null  float64
 21  total_rec_prncp             68817 non-null  float64
 22  total_rec_int               68817 non-null  float64
 23  total_rec_late_fee          68817 non-null  float64
 24  recoveries                  68817 non-null  float64
 25  collection_recovery_fee     68817 non-null  float64
 26  last_pymnt_amnt             68817 non-null  float64
 27  next_pymnt_d                68817 non-null  object
 28  collections_12_mths_ex_med  68817 non-null  float64
 29  policy_code                 68817 non-null  float64
 30  application_type            68817 non-null  object
 31  acc_now_delinq              68817 non-null  float64
 32  tot_coll_amt                68817 non-null  float64
 33  tot_cur_bal                 68817 non-null  float64
 34  open_acc_6m                 68817 non-null  float64
 35  open_act_il                 68817 non-null  float64
 36  open_il_12m                 68817 non-null  float64
 37  open_il_24m                 68817 non-null  float64
 38  mths_since_rcnt_il          68817 non-null  float64
 39  total_bal_il                68817 non-null  float64
 40  il_util                     68817 non-null  float64
 41  open_rv_12m                 68817 non-null  float64
 42  open_rv_24m                 68817 non-null  float64
 43  max_bal_bc                  68817 non-null  float64
 44  all_util                    68817 non-null  float64
 45  total_rev_hi_lim            68817 non-null  float64
 46  inq_fi                      68817 non-null  float64
 47  total_cu_tl                 68817 non-null  float64
 48  inq_last_12m                68817 non-null  float64
 49  acc_open_past_24mths        68817 non-null  float64
 50  avg_cur_bal                 68817 non-null  float64
 51  bc_open_to_buy              68817 non-null  float64
 52  bc_util                     68817 non-null  float64
 53  chargeoff_within_12_mths    68817 non-null  float64
 54  delinq_amnt                 68817 non-null  float64
 55  mo_sin_old_il_acct          68817 non-null  float64
 56  mo_sin_old_rev_tl_op        68817 non-null  float64
 57  mo_sin_rcnt_rev_tl_op       68817 non-null  float64
 58  mo_sin_rcnt_tl              68817 non-null  float64
 59  mort_acc                    68817 non-null  float64
 60  mths_since_recent_bc        68817 non-null  float64
 61  mths_since_recent_inq       68817 non-null  float64
 62  num_accts_ever_120_pd       68817 non-null  float64
 63  num_actv_bc_tl              68817 non-null  float64
 64  num_actv_rev_tl             68817 non-null  float64
 65  num_bc_sats                 68817 non-null  float64
 66  num_bc_tl                   68817 non-null  float64
 67  num_il_tl                   68817 non-null  float64
 68  num_op_rev_tl               68817 non-null  float64
 69  num_rev_accts               68817 non-null  float64
 70  num_rev_tl_bal_gt_0         68817 non-null  float64
 71  num_sats                    68817 non-null  float64
 72  num_tl_120dpd_2m            68817 non-null  float64
 73  num_tl_30dpd                68817 non-null  float64
 74  num_tl_90g_dpd_24m          68817 non-null  float64
 75  num_tl_op_past_12m          68817 non-null  float64
 76  pct_tl_nvr_dlq              68817 non-null  float64
 77  percent_bc_gt_75            68817 non-null  float64
 78  pub_rec_bankruptcies        68817 non-null  float64
 79  tax_liens                   68817 non-null  float64
 80  tot_hi_cred_lim             68817 non-null  float64
 81  total_bal_ex_mort           68817 non-null  float64
 82  total_bc_limit              68817 non-null  float64
 83  total_il_high_credit_limit  68817 non-null  float64
 84  hardship_flag               68817 non-null  object
 85  debt_settlement_flag        68817 non-null  object
dtypes: float64(76), object(10)
memory usage: 45.7+ MB

In [15]:
loans_df.reset_index(inplace=True, drop=True)

loans_df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [20]:
columns_obj = loans_df.select_dtypes(include='object').columns
print(len(columns_obj))

10

In [24]:
# drop columns with 1 value count 

loans_df = loans_df.drop(columns=['debt_settlement_flag', 'hardship_flag', 'pymnt_plan'])
loans_df.shape

(68817, 83)

In [26]:
loans_df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,dti,delinq_2yrs,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,27.24,0.0,...,0.0,3.0,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,20.23,0.0,...,0.0,6.0,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,24.26,0.0,...,0.0,4.0,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,31.44,0.0,...,0.0,1.0,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,18.76,0.0,...,0.0,1.0,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0

# Split the Data into Training and Testing

In [13]:
# Create our features
X = # YOUR CODE HERE


# Create our target
y = # YOUR CODE HERE

SyntaxError: invalid syntax (1336232756.py, line 2)

In [ ]:
X.describe()

In [ ]:
# Check the balance of our target values
y['loan_status'].value_counts()

In [ ]:
from sklearn.model_selection import train_test_split
# YOUR CODE HERE

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [ ]:
# Resample the training data with the RandomOversampler
# YOUR CODE HERE

In [ ]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE

In [ ]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE

### SMOTE Oversampling

In [ ]:
# Resample the training data with SMOTE
# YOUR CODE HERE

In [ ]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE

In [ ]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE

# Undersampling

In this section, you will test an undersampling algorithms to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [ ]:
# Resample the data using the ClusterCentroids resampler
# Warning: This is a large dataset, and this step may take some time to complete
# YOUR CODE HERE

In [ ]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE

In [ ]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [ ]:
# Resample the training data with SMOTEENN
# Warning: This is a large dataset, and this step may take some time to complete
# YOUR CODE HERE

In [ ]:
# Train the Logistic Regression model using the resampled data
# YOUR CODE HERE

In [ ]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE